* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}



.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 59px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 13px;
    color: #323F3E;
}

.header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
}

.header nav {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header .login-btn {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 7.5px 16px;
    border: none;
    cursor: pointer;
}

.hero {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.visa-item {
    width: 310px;
    height: 294px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.visa-item img {
    width: 100%;
    height: 100%;
}

.shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000F2577, #01223A99);

    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    padding: 8px;
}

.detail {
    display: flex;
    justify-content: space-between;
}

.detail>button {
    background-color: #0000;
}

/***************************************************************/
.c-left>img {
    width: 20px;
    height: 20px;

}

.c-left {
    display: inline-flex;
    width: 65px;
    /*hug*/
    height: 30px;
    gap: 4px;
}

.c-right {
    display: inline-flex;
    background-color: #ffbf1c;
    padding: 8px 6px;
    gap: 10px;
    border-radius: 6px;
    margin-bottom: 270px;
}

.filter {
    display: flex;
    justify-content: flex-start;
    width: 1280px;
    height: 41px;

}

.arrows {
    display: flex;

}

.filters {
    display: flex;
    justify-content: flex-start;
    width: 1280px;
    height: 41px;

}

.card {
    display: flex;
    background-image: url("./images/cart-back.png");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    height: 350px;
    padding: 20px;

    overflow: hidden;
    border-radius: 10px;
    width: 310px;
    height: 347px;
    color: #fff;
    float: right;
    border: 1px solid blue;
}



.card-head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.cardimg {
    display: flex;
    width: 310px;
    height: 347px;
    overflow: hidden;
    padding-right: 4px;
    flex-direction: column;
}

.space {
    /* display: flex; */
    justify-content: space-between;
}

.normal-btn {
    color: #929292;
    width: 81px;
    height: 41px;
    border-radius: 20px;

    border: solid #929292 1px;
}

.special-btn {
    font-family: "DanaFaNum";
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    background-color: #132152;
    border: solid #132152 1px;
    width: 81px;
    height: 41px;
    border-radius: 20px;
}

.cardcontainer {
    /* display: flex; */
    align-items: center;
    align-items: end;
    padding-top: 36px;
    padding-bottom: 59px;
    border: solid black 1px;
    flex-wrap: wrap;
}

.head2>h2 {

    /* min-height: 420px; */
    /* width: 101%; */

}

.arrows>button {
    width: 34px;
    height: 34px;
    gap: 10px;
}



/*
justify-content:flex-start end center space between
align-items align-self:flex-start end center
flex-direction:row column-reverse
order:#;
*/